@using IkMvc.Application.Service.CompanyService
@using IkMvc.Application.Service.DepartmentService
@using IkMvc.Application.Service.JobService
@model IkMvc.Application.Model.Dto.DirectorDtos.UpdateDirectorDto

@{
    ViewData["Title"] = "EditDirectorProfile";
    Layout = "~/Areas/Director/Views/Shared/_DirectorLayout.cshtml";
}



<div class="row">
    <div class="col-md-4">
        <form asp-action="EditDirectorProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           

          
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MiddleName" class="control-label"></label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondLastName" class="control-label"></label>
                <input asp-for="SecondLastName" class="form-control" />
                <span asp-validation-for="SecondLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input type="datetime" asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthPlace" class="control-label"></label>
                <input  asp-for="BirthPlace" class="form-control" />
                <span asp-validation-for="BirthPlace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TcIdentity" class="control-label"></label>
                <input asp-for="TcIdentity" class="form-control" />
                <span asp-validation-for="TcIdentity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input type="number" asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageData" class="control-label"></label>
                <input type="file" name="imageFile" class="custom-file-input" id="imageFile" />
                <span asp-validation-for="ImageData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobId" class="control-label"></label>
                <select asp-for="JobId" class="form-select">
                    @foreach (JobDto dto in await JobService.Instance.GetAllJobs())
                    {
                        <option value="@dto.Id">
                            @dto.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="JobId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-select">
                    @foreach (DepartmentDto dto in await DepartmentService.Instance.GetAllDepartments(ViewContext.HttpContext))
                    {
                        <option value="@dto.DepartmentId">
                            @dto.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompanyId" class="control-label"></label>

                <select asp-for="CompanyId" class="form-select">
                    @foreach (CompanyDto dto in await CompanyService.Instance.GetAllCompanies(ViewContext.HttpContext))
                    {
                        <option value="@dto.CompanyId">
                            @dto.Name
                        </option>
                    }
                </select>
                <span asp-validation-for="CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
