
@model CompanyVm

<div class="container mt-5">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0 text-center">Company Details</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <dl class="row">
                        <dt class="col-sm-4">Name:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>
                        <dt class="col-sm-4">Title:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)</dd>
                        <dt class="col-sm-4">Mersis No:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.MersisNo)</dd>
                        <dt class="col-sm-4">Tax No:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TaxNo)</dd>
                        <dt class="col-sm-4">Tax Administration:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.TaxAdministration)</dd>
                        <dt class="col-sm-4">Phone Number:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>
                        <dt class="col-sm-4">Address:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>
                        <dt class="col-sm-4">Email:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>
                        <dt class="col-sm-4">Year of Establishment:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.YearOfEstablishment)</dd>
                        <dt class="col-sm-4">Contract Start Date:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ContractStartDate)</dd>
                        <dt class="col-sm-4">Contract End Date:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.ContractEndDate)</dd>
                        <dt class="col-sm-4">Status:</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Status)</dd>
                    </dl>
                </div>
                <div class="col-md-6 text-center">
                    @if (Model.ImageData != null)
                    {
                        var imageBase64 = Convert.ToBase64String(Model.ImageData);
                        <img src="data:image/jpeg;base64,@imageBase64" alt="Photo" class="img-fluid rounded" style="max-height: 300px; max-width: 100%;" />
                    }
                    else
                    {
                        <i class="fas fa-image fa-5x text-muted"></i>
                        <p class="text-muted">No photo available</p>
                    }
                </div>
            </div>
            <div class="row mt-4 justify-content-center">
                <div class="col-md-6 text-center">
                    <a class="btn btn-primary" asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>