@model List<LeaveRequestVm>

@{
    ViewData["Title"] = "Index";
    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container mt-5">
    <div class="table-responsive">
        <div class="mb-3">
            <input type="text" id="leaveTypeInput" onkeyup="searchByLeaveType()" placeholder="Search by Leave Type...">
            <a href="@Url.Action("Create", "LeaveRequest")" class="btn btn-success">Create</a>
        </div>
        <table id="leaveRequestTable" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Leave Type</th>
                    <th>Response Date</th>
                    <th>Approval Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    @foreach (var request in Model)
                    {
                        <tr>
                            <td>@request.LeaveType</td>
                            @if(request.ResponseDate is not null)
                            {
                                <td>@request.ResponseDate</td>
                            }
                            else
                            {
                                <td>Your request has not been responded to yet.</td>
                            }

                            <td>@request.ApprovalStatus</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Actions">
                                    <form asp-action="Details" asp-controller="LeaveRequest" method="post">
                                        <input type="hidden" name="Id" value="@request.EncryptedId" />
                                        <button type="submit" class="btn btn-primary">Details</button>
                                    </form>
                                    <form asp-action="Update" asp-controller="LeaveRequest" method="get">
                                        <input type="hidden" name="Id" value="@request.EncryptedId" />
                                        @if (request.ApprovalStatus == ApprovalStatus.Pending)
                                        {
                                            <button type="submit" class="btn btn-warning">Update</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-warning" disabled>Update</button>
                                        }
                                    </form>
                                    <form method="post" onsubmit="return confirm('Are you sure you want to delete?');" id="deleteForm-@request.EncryptedId">
                                        @if (request.ApprovalStatus == ApprovalStatus.Pending)
                                        {
                                            <button type="button" class="btn btn-danger" onclick="deleteLeave('@request.EncryptedId')">Delete</button>
                                        }
                                        else
                                        {
                                            <button type="button" class="btn btn-danger" onclick="deleteLeave('@request.EncryptedId')" disable>Delete</button>
                                        }
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>
</div>

<partial name="_pager" model="@pager" />

<script>
    function searchByLeaveType() {

        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("leaveTypeInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("leaveRequestTable");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
