@model IkMvc.Application.Model.Dto.EmployeeDtos.EmployeeRegisterDto

@{
    Layout = "~/Areas/Director/Views/Shared/_DirectorLayout.cshtml";
    List<DepartmentDto> department = TempData["Departments"] as List<DepartmentDto>;
    List<CompanyDto> companies = TempData["Companies"] as List<CompanyDto>;
    List<JobDto> job = TempData["Jobs"] as List<JobDto>;

    ViewData["Title"] = "EmployeeRegister";
}

<div class="container mx-auto mt-8">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form asp-action="EmployeeRegister" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <label asp-for="UserName" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="FirstName" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="FirstName" class="form-control" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="LastName" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="LastName" class="form-control" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="MiddleName" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="MiddleName" class="form-control" />
                                <span asp-validation-for="MiddleName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="SecondLastName" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="SecondLastName" class="form-control" />
                                <span asp-validation-for="SecondLastName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="BirthDate" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="BirthDate" class="form-control" value="@DateTime.Now" min="1900-01-01" max="2014-01-01" type="date" />
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="BirthPlace" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="BirthPlace" class="form-control" />
                                <span asp-validation-for="BirthPlace" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="TcIdentity" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="TcIdentity" class="form-control" />
                                <span asp-validation-for="TcIdentity" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="HireDate" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="HireDate" class="form-control" value="@DateTime.Now" min="2010-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" type="date" />
                                <span asp-validation-for="HireDate" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="PhoneNumber" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Address" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Salary" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="Salary" class="form-control" type="number" />
                                <span asp-validation-for="Salary" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Email" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="Email" class="form-control"  />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="Password" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </td>
                        </tr>
                        @if (job != null)
                        {
                            <tr>
                                <td>
                                    <label asp-for="JobId" class="control-label">Job</label>
                                </td>
                                <td>
                                    <select asp-for="JobId" class="form-control">
                                        <option value="">Select Job</option>
                                        @foreach (var item in job)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="JobId" class="text-danger"></span>
                                </td>
                            </tr>
                        }
                        @if (department != null)
                        {
                            <tr>
                                <td>
                                    <label asp-for="DepartmentId" class="control-label">Department</label>
                                </td>
                                <td>
                                    <select asp-for="DepartmentId" class="form-control">
                                        <option value="">Select Department</option>
                                        @foreach (var item in department)
                                        {
                                            <option value="@item.DepartmentId">@item.Name</option>
                                        }
                                    </select>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </td>
                            </tr>
                        }
                        @if (companies != null)
                        {      
                                    <input type="hidden" asp-for="CompanyId" class="form-control" >
                                    
                                    <span asp-validation-for="CompanyId" class="text-danger"></span>                               
                        }
                    </tbody>
                </table>

                <div class="mb-4">
                    <label for="imageFile" class="block text-gray-700 text-sm font-bold mb-2">Image:</label>
                    <input type="file" name="imageFile" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="imageFile">
                    <span asp-validation-for="ImageData" class="text-red-500 text-xs italic"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-warning" />
                    <a asp-action="Index" class="btn btn-secondary ml-2">Back to Home Page</a>
                </div>

            </form>
        </div>
    </div>
</div>


